.checkImg {
    height: 20px;
    width: 20px;   
  
}
.navTab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 35px;
    padding-bottom: 15px;
    padding-top: 0px;
}
.navTab:hover {
    border: 2px solid rgb(85, 78, 66);
    box-shadow: 0px 1px 7px 3px rgb(51, 51, 51);
}
