* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.xxviewPatientInfo-header-container {
  position: relative;
  width: 75%;
  display: flex;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  flex-direction: row;
  /* background-color: rgb(139, 27, 184); */
  background-color: rgb(96, 106, 116);
  margin-top: 12px;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: red; */
  color: white;
}

.viewPatient-heading-patientNamelabel {
  /* color: grey; */
  font-size: 12;
  /* float: left; */
  /* background-color: red; */
}

.xxviewPatient-patientIdlabel {
  /* color: grey; */
  font-size: 12;
  /* margin-left: 13em; */
  /* float: right; */
}




.viewPatient-patientNamelabelValue, .viewPatient-patientIdlabelValue {
  color: rgb(41, 34, 34);
  font-size: 12;
  margin-left: 11px;
  font-weight: bold;
  /* padding-right: 12px; */
}

.xxviewPatient-doctorNamelabel {
  color: grey;
  font-size: 12;
  /* margin-left: 15rem; */
}

.viewPatient-cardTitle-container {
  position: relative;
  display: flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: 75%;
  background-color: rgb(235, 229, 229);
  margin-top: 15px;
  font-weight: bold;
  /* background-color: red; */

}


.viewPatientContactDetails-header-container {
  margin: 1rem;
}


.viewPatientInfo-button-container {
  position: relative;
  margin-top: 12px;
  float: right;
  /* padding: 5px; */
  /* background-color: red; */
  /* background-color: red; */
}

.viewPatient-edit-buttons, .viewPatient-back-buttons {
  position: relative;
  color: white;
  border-radius: 5px;
  border-style: none;
  /* padding: 2px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  /* margin-left: 1%; */
  /* float: right; */
  /* margin-left: 55rem; */
  /* background-color: gray; */

}

.viewPatient-edit-buttons {
  margin-right: 5px;
}

.viewPatient-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(65, 75, 78); */
  background-color: rgb(235, 229, 229);
  margin-bottom: 12px;
}


.xxviewPatientInfoTitle-header-container {
  position: relative;
  /* background-color: red; */
  margin: 12px;
  float: left;
  /* background-color: green; */
  width: 100%;

}

.xxviewPatientInfoTitle2-header-container {
  position: relative;
  /* background-color: ye; */
  margin: 12px;
  float: left;
  width: 50%;
  background-color: yellow;

}



.viewPatient-label {
  color: red;
  margin-top: 1px;
  margin-bottom: 1px;

}

.viewPatient-textbox {
  color: black;
  margin-top: 1px;
  margin-bottom: 1px;  
  font: 10px;
  margin-left: 15px;
  border-style: none;
  background-color: rgb(235, 229, 229);

}

.viewPatient-textbox-Edit {
  color: black;
  margin-top: 1px;
  margin-bottom: 1px;  
  font: 10px;
  margin-left: 15px;
  border-style: solid;
  /* background-color: rgb(235, 229, 229); */

}

/* #placeholder {
  visibility: hidden;
  height: 50px;
} */

/* #sidebar {
  position: relative;

  margin: 0;
  padding: 0;
  margin-top: 1rem;  
  width: 100%;
  height: auto;
} */

/* #sidebar {
  position: relative;

  margin: 0;
  padding: 0;
  margin-top: 1rem;  
  width: 100%;
  height: 50rem;
  background-color: grey;
}

.verticalNavBar {
  position: relative;
  padding-left: 2rem;
  height: auto;
  background-color: transparent;
}


.verticalNavBar-ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  justify-content:space-around;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


.verticalNavBar-li a {
  display: block;
  color: white;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
} 


.verticalNavBar-li a:hover {
  background-color: rgb(76, 81, 83);
}

#resume-container {
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
  height: auto;
  margin-top: 1rem;
  margin-right: 4rem;
  margin-left: 4rem;
  background-color: lightblue;  
}

.resume-header-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(76, 81, 83);
}


#objective-container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem;
}


.objectiveTitle {
  position: relative;
  height: auto;
  font-weight: bold;
  font-size: 14px;
  color: white;
}*/

#viewPatient-mainInfo-container2 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  margin: 12px;
}

#viewPatient-demoInfo-container, #viewPatient-workInfo-container  {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  margin-top: 25px;
  margin-left: 24px;
  padding-bottom: 24px;

}


/* .telephone, .email, .address {
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  padding-bottom: 1rem;

} */


/* .highlights-container, .experience-container, .education-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: .8rem;
  text-align: left;
  text-justify: auto;
}




.highlightsTitle, .experienceTitle, .educationTitle {
  position: relative;
  border: 5px solid white;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(76, 81, 83);
  color: white;
}

.experienceTitle, .educationTitle {
  margin-top: 3rem;
}


.highlights-contents-container, .experience-contents-container, .education-contents-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 3rem 5rem 3rem 5rem;
  text-justify: auto;
}


.mainBullet {
  position: relative;
  display: flex;
  flex-direction: column;
}


ul li {
  text-justify: auto;
  word-wrap: normal;
}


.job, .education {
  padding-top: .5rem;
  padding-left: 1.5rem;
  width: 100%;
}


 #top-experience, #top-education {
  padding-left: 2.5rem;
  outline: none;
}

#top {
  padding-left: 2.5rem;
  outline: none;  
}


 */
