*{
    box-sizing: border-box;
}

.lab-main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    padding-left: 5%;
}

/* .patient-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;   
    width: 100%;
    align-items: center;
    background-color: red;
} */

/* .patient-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(48, 106, 129);
    background-color: red;
  } */

  /* #patient-mainInfo-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: red;
  } */

  /* .patient-mainInfo-container2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    background-color: red;
  } */


/* 
.adminTitle-container {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    text-align: left;
} */



/* .admin-logoutIcon-container {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    text-align: right;
    font-size: 1.3rem;
} */

/* .adminTitle-texts {
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5rem;
} */

/* #admin-logout:hover  {
    opacity: .5;
    transform: scale(1.2);
} */

.lab-listing-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


Table thead {
    font-size: .8rem;
    font-weight: bold;
    background-color: rgb(76, 81, 83);
    color: white;
    text-align: center;
}

Table thead th {
    flex-wrap: nowrap;
    color: white;
    width: 10%;
}

.column-id {
    width: 2.5%;
  }

.column-name {
    width: 5%;
  }

 .column-email {
  width: 3%;
}


Table tbody {
    font-size: .7rem;
}

.labViewButton-container {
    display: flex;
    flex-direction: column;
    align-content:  center;
    justify-content: center;
    width: 100%;
    margin: 1%;
    /* background-color: red; */

}

/* .addLab-button-container {
    position: relative;
    margin-top: 12px;
    float: right;
    /* padding: 5px; */
    /* background-color: red; */
    /* background-color: red; */
  /* }  */

  .addLab-button-container {
    position: relative;
    margin-top: 12px;
    float: right;
    /* padding: 5px; */
    /* background-color: red; */
    /* background-color: red; */
  }

  .addLab-add-button {
    margin-right: 5px;
  }

  .addLab-button-container-top {
    position: relative;
    margin: 0%;
    padding: 0%;
    /* margin-top: 12px; */
    float: right;
    /* padding: 5px; */
    /* background-color: red; */
    /* background-color: red; */
    /* margin-bottom: 10%; */
  }

  .addLab-add-button-top {
    margin-bottom: 1%;
  }

.labEditButton  {
    /* margin-left: 35%; */
    /* padding: 1%; */
    border-radius: 10%;
    padding-right: 5%;
    padding-left: 5%;
    /* margin-bottom: 5%; */
}

/* .labEditForm {
    position: absolute;
    margin-top: -10%;
    margin-left: -10%;
} */

.labDeleteButton {
    margin-top: 2%;
}



/* .inputUserName-containier, .inputPassword-containier, .inputEmail-containier {
    position: relative;
    color: white;
    font-size: 1rem;
    align-content: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: .5rem;
    padding-bottom: 0;
} */

/* #nameEntry, #emailEntry, #passwordEntry {
    position: relative;
    width: 100%;
    height: 2rem;
    text-align: left;
    align-content: center;
    font-size: .8rem;
    border: 1px solid #AAAAAA;
    background: none;
    border-bottom: solid 2px #382933;
    overflow: hidden;
    box-shadow: 10px 15px 20px rgba(0,0,0,0.1);
    border-radius: 5px;
} */

#nameEntry::placeholder {
    color: silver;  
}

#emailEntry::placeholder {
    color: silver;  
}

#passwordEntry::placeholder {
    color: silver;  
}

#errorMessages {
    position: relative;
    color: red;
    font-size: .8rem;
}

#addUser-button {
    position: relative;
    margin-top: 3rem;

}

.searchPatient-label {
    color: white;;
}