* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.editDemo-cardTitle-container {
  position: relative;
  display: flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width: 75%;
  background-color: rgb(235, 229, 229);
  margin-top: 20px;
  font-weight: bold;
  /* background-color: red; */

}

.editDemo-header-container {
  margin: 1rem;
}


.editEmergency-button-container {
  position: relative;
  margin-top: 12px;
  float: right;
}

.editEmergency-save-button, .editEmergency-cancel-button {
  position: relative;
  color: white;
  border-radius: 5px;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.editEmergency-save-button, .editEmergency-cancel-button {
  margin-right: 5px;
}

.editEmergency-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(235, 229, 229);
  margin-bottom: 12px;
}


/* .viewPatientInfoTitle-container {
  position: relative;
  margin: 12px;
  float: left;
} */


.editEmergency-label, #editEmergency-label {
  color: rgb(82, 79, 79);
  margin-top: 2px;
  margin-bottom: 1px;
  /* margin: 15% */
}

.editEmergency-textbox {
  color: black;
  margin-top: 2px;
  margin-bottom: 1px;  
  font: 10px;
  margin-left: 15px;
}

#editEmergency-workInfo-container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  margin-top: 25px;
  margin-left: 24px;
  padding-bottom: 24px;

}


#editEmergency-mainInfo-container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  margin: 12px;
}




/* .telephone, .email, .address {
  position: relative;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  padding-bottom: 1rem;

} */


/* .highlights-container, .experience-container, .education-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
  font-size: .8rem;
  text-align: left;
  text-justify: auto;
}




.highlightsTitle, .experienceTitle, .educationTitle {
  position: relative;
  border: 5px solid white;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(76, 81, 83);
  color: white;
}

.experienceTitle, .educationTitle {
  margin-top: 3rem;
}


.highlights-contents-container, .experience-contents-container, .education-contents-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 3rem 5rem 3rem 5rem;
  text-justify: auto;
}


.mainBullet {
  position: relative;
  display: flex;
  flex-direction: column;
}


ul li {
  text-justify: auto;
  word-wrap: normal;
}


.job, .education {
  padding-top: .5rem;
  padding-left: 1.5rem;
  width: 100%;
}


 #top-experience, #top-education {
  padding-left: 2.5rem;
  outline: none;
}

#top {
  padding-left: 2.5rem;
  outline: none;  
}


 */
